@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');

body {
    
    font-family: 'Rajdhani', sans-serif;

    background-color: white;
}
#navbar{
    text-align: center;
    /* margin-top: -10px; */
    display: flex;

    background-color: #1000a1;
    justify-content: space-between;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#title {
    margin-left: 30px;
    color: #ffffff;
}

#navbar-item{
    text-align: center;
    display: flex;
    margin: auto;
    margin-right: 20%;
    text-align: center;

    flex-direction: row;
}

.item{
    display: flex;
    margin: 10px 10px;

    font-size: 20px;
    font-size: large;
    color: #ffffff;
}

#container{
    text-align: center;

    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.form__input {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 1rem;
    margin: 0 auto;
    padding: 0.5rem 0.5 rem;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 25%;
    display: block;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
  
.form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-4rem);
    transform: translateY(-4rem);
}
  

#product-view{
    margin-top: 100px;
    display: flex;
    flex-direction: row;

    padding-inline: 15rem;

    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.product{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: 30px;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
img {
    width: 100px;
    height: 100px;
}